/* CSS RESET START
*/

html,
body,
div,
span,
applet,
object,
iframe,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
}

/** Reset until here **/

body {
  background-color: var(--main-color-shadow);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-height: 100vh;
}

:root {
  --main-color: #2770b4;
  --main-color-dark: #24619b;
  --main-color-light: #2f7fca;
  --main-color-shadow: rgba(47, 116, 182, 0.2);
  --grey: #dddddd;
  --grey-dark: #c5c5c5;
  --high-priority-color: #b43939;
  --mid-priority-color: #c59f4e;
  --low-priority-color: #4ea790;
}

button {
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  &:hover {
    cursor: pointer;
    background-color: var(--grey);
  }
  &:active {
    background-color: var(--grey-dark);
  }
}

.primary-button {
  color: white;
  font-weight: bold;
  background-color: var(--main-color);
  &:hover {
    background-color: var(--main-color-light);
  }
  &:active {
    background-color: var(--main-color-dark);
  }
}

.nav-bar {
  background-color: var(--main-color);
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  button {
    font-size: 18px;
  }
  position: sticky;
  z-index: 2;
  top: 0px;
}

#content-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

#content {
  flex: 1;
  min-width: 400px;
  max-width: 80%;
  background-color: white;
  padding: 10px 20px;
  position: relative;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    padding-right: 50px;
    text-align: center;
  }
}

.fixed-action {
  position: absolute;
  right: 20px;
  top: 28px;
}

.content-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 20px;
  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px var(--main-color-shadow);
  }
}

.project-card {
  position: relative;
  .edit-button {
    position: absolute;
    top: 10px;
    right: 30px;
  }
  .delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  &:hover {
    background-color: var(--main-color-shadow);
  }
  h3 {
    padding-right: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  p {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.empty-state {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  padding: 40px 10px;
}

dialog {
  border: none;
  border-radius: 5px;
  padding: 20px;
}

#create-project-dialog {
  h3 {
    text-align: center;
    font-weight: bold;
  }
  .create-project-form-wrapper,
  .create-project-actions {
    padding-top: 20px;
  }
  .create-project-actions {
    display: flex;
    gap: 4px;
    justify-content: end;
    align-items: center;
  }
}

#create-todo-dialog {
  h3 {
    text-align: center;
    font-weight: bold;
  }
  .create-todo-form-wrapper,
  .create-todo-actions {
    padding-top: 20px;
  }
  .create-todo-actions {
    display: flex;
    gap: 4px;
    justify-content: end;
    align-items: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  label {
    font-size: 15px;
  }
  input,
  select {
    border: 1px solid var(--main-color-shadow);
    border-radius: 5px;
    padding: 3px;
  }
  select{
    background-color: white;
  }
}
